*.exe filter=lfs diff=lfs merge=lfs -text
*.pkg filter=lfs diff=lfs merge=lfs -text
dist/*.exe filter=lfs diff=lfs merge=lfs -text
build/Bit[[:space:]]Controller/*.pkg filter=lfs diff=lfs merge=lfs -text
